@font-face {
    font-family:'Outfit';
    src: url(fonts/Outfit/static/Outfit-Regular.ttf) format(truetype);
}

* {
    margin: 0;
    padding: 0; 
}

body, html {
    height: 100vh;
    font-family: 'Outfit';
    background-color: #040409;
    color: #fff;
}

a.externo {
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.4s;
    padding: 10px;
    margin: 5px 5px;
}

a.externo:hover {
    background-color: #db04007b;
    box-shadow: 0 0 8px -2px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000078;
    height: 7vh;
}

#foto-fundo {
    background: url(img/background-img.png) no-repeat center center;
    background-size: cover;
    height: 40vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin: 20px;
}

main {
    display: flex;
}

img {
    margin: 30px;
    border-radius: 5px;
    width: 400px
}

h1 {
    font-size: 20px;
    margin: 30px;
    padding: 5px;
    background-color: #db04007b;
    color: #fff;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px -2.5px;
}

a.descricao {
    text-decoration: none;
    color: #ffff00;
}

footer {
    padding: 10px;
    text-align: center;
    background: #00000078;

}
